%html{ :lang => 'en' }
  %head
    %title CityEvent
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-light.bg-light
      %a.navbar-brand{:href => "#"} City-Event
      %ul.navbar-nav
        %li.nav-item
          %div.nav-link
            - if user_signed_in?
              = link_to "Log out", destroy_user_session_path, method: :delete
            - else 
              = link_to "Log in", user_session_path
            

    - if notice
      %p.alert.alert-success
        = notice
    - if alert
      %p.alert.alert-danger
        = alert

    .container
      = yield
